.slider {
    margin: 0 auto;
    max-width: 80vw;
    height: inherit;
  }
  
  .slide_viewer {
    /* height: 80vh; */
    height: -webkit-fill-available;
    overflow: hidden;
    position: relative;
  }
  
  .slide img{
      width: 100%;
      height: fit-content;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  
  .slide_group {
    height: fit-content;
    position: relative;
    width: 100%;
  }
  
  .slide {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  
  .slide:first-child {
    display: block;
  }
  
  .slide:nth-of-type(1) {
    background: #D7A151;
  }
  
  .slide:nth-of-type(2) {
    background: #F4E4CD;
  }
  
  .slide:nth-of-type(3) {
    background: #C75534;
  }
  
  .slide:nth-of-type(4) {
    background: #D1D1D4;
  }
  
  .slide_buttons {
    left: 0;
    position: absolute;
    right: 0;
    /* margin-top: -12%; */
    text-align: center;
  }
  
  a.slide_btn {
    color: rgb(150, 150, 150);
    font-size: 42px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  
  .slide_btn.active, .slide_btn:hover {
    color: #000000;
    cursor: pointer;
  }
  
  .directional_nav {
    height: 340px;
    margin: 0 auto;
    max-width: 740px;
    position: relative;
    top: -340px;
  }
  
  .previous_btn {
    bottom: 0;
    left: -18vw;
    margin: auto;
    position: absolute;
    top: 0;
  }
  
  .next_btn {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: -18vw;
    top: 0;
  }
  
  .previous_btn, .next_btn {
    cursor: pointer;
    height: 3vh;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 4vw;
  }
  
  .previous_btn:hover, .next_btn:hover {
    opacity: 1;
  }

  .mg-up {
    margin-top: -30vh;
  }
  
  @media only screen and (max-width: 767px) {
    .previous_btn {
      left: 50px;
    }
    .next_btn {
      right: 50px;
    }
  }
