§@font-face {
	font-family: 'Work Sans', sans-serif;
	font-weight: normal;

}

  
/* Basic CSS Reset */
* { 	
	padding: 0; 
	margin: 0;
	border: 0;
	outline: 0; 
	font-family: 'Philosopher', sans-serif;
		
/* 	font-size: 10%; */
}



/* Basic height of both  HTML and Body tag */

html, body { 
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
    background-attachment: fixed;
}



body {	
	overflow-y: scroll;
	overflow-x: hidden;
	margin: 0;
	font-family: 'Philosopher', sans-serif;
/* 	cursor: url('../images/fcursor4copyy2.png'), default;] */

}


.iframe {
	pointer-events: none;
	
}


/* Start CSS here **/

/* Scrollbar */

::-webkit-scrollbar {
    width: 3px;
}


::-webkit-scrollbar:horizontal {
    width: 3px;
}


::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3); 
    border-radius: 3px;
}

 
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.5); 
    background-color: white;
}


::-webkit-scrollbar-track:horizontal {
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3); 
    border-radius: 3px;
}
 
 
::-webkit-scrollbar-thumb:horizontal {
	border-radius: 3px;
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.5); 
    background-color: black;
}


::selection {
	background: black;
}


::-moz-selection {
	background: black; 
}
/*Music 8*/

.memento {
	position: absolute;
	top: 10vh;
	right: 50vw;
	z-index: 10000 !important;
}

/* Video */

.embed-container1 { 
	position: relative; 
	padding-bottom: 56.25vh inherit; 
	height: 0; 
	overflow: !important; 
	max-width: 100%; 
	
}
 
.embed-container1 iframe, .embed-container1 object, .embed-container1 embed { 
	position: absolute; 
 	left: 50vw;
 	top: 250vh;	
 	z-index: 10;
 	height: 40vh;
 	width: 45vw;
 	}
 	
.embed-container1:hover	{
	z-index: 5000; 
}
	
.embed-container2 { 
	position: relative; 
	padding-bottom: 56.25vh inherit; 
	height: 0; 
	overflow: !important; 
	max-width: 100%; 
}
 
.embed-container2 iframe, .embed-container2 object, .embed-container2 embed { 
	position: absolute; 
 	left: 50vw;
 	top: 295vh;	
 	z-index: 10;
 	height: 40vh;
 	width: 45vw;
 	display: inherit;
}

.embed-container2:hover	{
	z-index: 5000; 
}

.embed-container5 { 
	position: relative; 
	padding-bottom: 56.25vh inherit; 
	height: 0; 
	overflow: !important; 
	max-width: 100%; 	
}
 
.embed-container5 iframe, .embed-container5 object, .embed-container5 embed { 
	position: absolute; 
 	left: 50vw;
 	top: 340vh;	
 	z-index: 10;
 	height: 40vh;
 	width: 45vw;
}

.embed-container5:hover	{
	z-index: 5000; 
}

.embed-container3 { 
	position: relative; 
	padding-bottom: 56.25vh inherit; 
	height: 0; 
	overflow: !important; 
	max-width: 100%; 	
}
 
.embed-container3 iframe, .embed-container3 object, .embed-container3 embed { 
	position: absolute; 
 	left: 50vw;
 	top: 610vh;	
 	z-index: 10;
 	height: 40vh;
 	width: 45vw;
}

.embed-container3:hover	{
	z-index: 5000; 
}


.embed-container4 { 
	position: relative; 
	padding-bottom: 56.25vh inherit; 
	height: 0; 
	overflow: !important; 
	max-width: 100%; 
}
 
.embed-container4 iframe, .embed-container4 object, .embed-container4 embed { 
	position: absolute; 
 	left: 7vw;
 	top: 530vh;	
 	z-index: 10;
 	height: 40vh;
 	width: 45vw;
}

.embed-container4:hover	{
	z-index: 5000; 
}

.embed-container6 { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: !important; 
	max-width: 100%; 
	
}
 
.embed-container6 iframe, .embed-container6 object, .embed-container6 embed { 
	position: absolute; 
 	left: 10vw;
 	top: 685vh;	
 	z-index: 10;
 	height: 40vh;
 	width: 45vw;
}
	
.embed-container6:hover	{
	z-index: 5000; 
}


a.video-link {
	position: absolute;
	font-size: 15px;
	color: #ff0000;
}

/* Slideshow */

#slideshow {
	position: fixed;
	top: 10%;
	left: 2.5%;
	right: 2.5%;
	bottom: 10%;
	z-index: 10000;
	height: 80%;
	width: auto;
	background-position: 70% center;
	background-size: contain;
/* 	mix-blend-mode: multiply !important; */
	display: none;
	background-repeat: no-repeat;
	background-color: rgba(0, 0, 0, 0.49);
/* 	box-shadow: 0 0 50px #b09b9e; */
	box-shadow: 0 0 50px white;
	
	


}



#slideshow .caption {
	position: absolute;
	top: 4%;
	left: 2%;
	color: #ffffff;
	width: 17vw;
	text-align: left;	
	text-shadow: #d70000;
	font-size: 12;
	font-family: 'Philosopher', sans-serif;
	
}

#slideshow .caption2 {
	position: absolute;
	top: 4%;
	left: 2%;
	color: #ffffff;
	width: 50vw;
	text-align: left;	
	text-shadow: #d70000;
	font-size: 20;
	font-family: 'Philosopher', sans-serif;
	
}

#slideshowtitle {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	z-index: 10000;
	background-position: center;
	background-size: contain;
	mix-blend-mode: multiply !important;
	display: none;
	background-repeat: no-repeat;
	background-color: rgba(0,    0,    0, 0.49);
}


#slideshowtitle .caption {	
	position: absolute;
	top: 1000px;
	left: 30px;
	color: #ffffff;
	right: 1000px;
	text-align: left;
}


/* Body */

body {	
	background: black;
/* 	background: #baa6c2;	 */

	
}


.container {
	width: 100%;
	position: relative;
	margin: 0 auto;
	height: 750%;
	
}


img:hover {
	z-index: 1000 !important;
}


#bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 520%;
    z-index: 0;
    background: #bea7a7;
    

}



/* About and Contact */

.name {
	z-index: 6000 !important;
	height: 100%;
}

.me {
	height: 100%;
	z-index: 6000 !important;
}

#titlesophia   {
	position: fixed;
	z-index: 6000 !important;
	left: 1%;
    height: 2.2%;
    top: 1.5%;   
    padding: 20px;
}

.filter   {
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    z-index: 8000 !important;
    
}

#filter {
	position: fixed;
	width: 100%;
	height: 100%;
	mix-blending-mode: darken;
	opacity: 100;	
}

#contact    {	
	position: fixed;
	z-index: 2;
	right:	 1%;
    height: 2.2%;
    top: 1.5%;    	 
	z-index: 6000 !important;
    padding: 20px;
}

.sc   {	
	position: fixed;
	z-index: 6000;
	right: 1%;
    height: 2.2%;
    bottom: 1.5%;    	 
	z-index: 6000 !important;
    padding: 20px;
}
	
#about    {	
	position: fixed;
	z-index: 6000 !important;
	left: 1%;
    height: 2.2%;
    bottom: 1.5%;   
    padding: 20px;
}

#logo	{
	position: fixed;
	z-index: 200;
	margin-left: 50%;
    height: 150px;
    bottom: 3%;  
}

.title    {	
	z-index: 6000 !important;
}


.title:hover	{
	mix-blend-mode: multiply !important; 
}


/* Images */

.crop-img:hover	{
	z-index: 5000; 
	mix-blend-mode: normal !important; 
	-webkit-filter:invert(0%);
    filter:progid:DXImageTransform.Microsoft.BasicImage(invert='1');
    box-shadow: 0 0 60px black;
    -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
	filter: grayscale(0%); /* FF 35+ */
}


.crop-img {
	z-index: 100!important;
	height: 100%;
	-webkit-filter:invert(100%);
    filter:progid:DXImageTransform.Microsoft.BasicImage(invert='1');
mix-blend-mode: multiply;
 	transition: filter .3s ease-in-out;
 	-webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(100%); /* FF 35+ */

}



.cropimg:hover ~ #bg	{
	background: #c30000;	
/* 	background: #846880;	 */

}

#cropimg	{	
	position: absolute;
	left: 63vw;
 	top: 20vh;	
	width: 27vw;
	height: auto;
}


#cropimg2	{	
	position: absolute;
 	left: 260px;
 	top: 205px;	
	height: 350px;

}

#cropimg5	{	
	position: absolute;
 	left: 70vw;
 	top: 75vh;	
	height: 40vh;
}

#cropimg6	{	
	position: absolute;
 	left: 12vw;
 	top: 130vh;	
	width: 35vw;
	height: auto;
}

#cropimg7	{	
	position: absolute;
 	left: 16vw;
 	top: 25vh;	
	width: 22vw;
	height: auto;
}

#cropimg8	{	
	position: absolute;
 	left: 32vw;
 	top: 40vh;	
	width: 22vw;
	height: auto;
}

#cropimg51	{	
	position: absolute;
 	left: 24vw;
 	top: 55vh;	
	width: 22vw;
	height: auto;
}

#cropimg9	{	
	position: absolute;
 	left: 8vw;
 	top: 15vh;	
	width: 22vw;
	height: auto;
}

#cropimg99	{	
	position: absolute;
 	margin-left: 205px;
 	margin-top: 790px;	
	height: 400px;
}

#cropimg10	{	
	position: absolute;
 	left: 60vw;
 	top: 115vh;	
	width: 28vw;
	height: auto;
} 
 
#cropimg101	{	
	position: absolute;
 	left: 73vw;
 	top: 135vh;	
	width: 20vw;
	height: auto;
}

#cropimg102	{	
	position: absolute;
 	left: 76vw;
 	top: 155vh;	
	width: 20vw;
	height: auto;
}

#cropimg103	{	
	position: absolute;
 	left: 73vw;
 	top: 170vh;	
	width: 22vw;
	width: 20vw;
	height: auto;
}

#cropimg11	{
	position: absolute;
 	left: 55vw;
 	top: 220vh;	
	width: 20vw;
	height: auto;
}

#cropimg12	{	
	position: absolute;
 	margin-left: 650px;
 	margin-top: 1610px;	
	height: 200px;
}

#cropimg13	{	
	position: absolute;
 	margin-left: 116px;
 	margin-top: 1160px;	
	height: 350px;
}

#cropimg14	{	
	position: absolute;
 	left: 15vw;
 	top: 30vh;	
	height: 80vh;
}

#cropimg15	{	
	position: absolute;
 	margin-left: 75px;
 	margin-top: 1415px;	
	height: 275px;
}

#cropimg17	{	
	position: absolute;
 	margin-left: 240px;
 	margin-top: 1400px;	
	height: 400px;
}

#cropimg18	{	
	position: absolute;
 	margin-left: 170px;
 	margin-top: 1550px;	
	height: 400px;
}

#cropimg19	{	
	position: absolute;
 	margin-left: 730px;
 	margin-top: 2080px;	
	height: 430px;
}

#cropimg20	{	
	position: absolute;
 	margin-left: 940px;
 	margin-top: 2220px;	
	height: 350px;
}

#cropimg21	{	
	position: absolute;
	margin-left: 80px;
 	margin-top: 2750px;
	height: 450px;
}

#cropimg22	{	
	position: absolute;
 	margin-left: 80px;
 	margin-top: 2740px;	
	height: 350px;
}


#cropimg23	{	
	position: absolute;
 	margin-left: 720px;
 	margin-top: 2730px;	
	height: 350px;
}

#cropimg24	{	
	position: absolute;
 	margin-left: 890px;
 	margin-top: 2750px;	
	height: 400px;
}


#cropimg25	{	
	position: absolute;
 	margin-left: 230px;
 	margin-top: 3300px;	
	height: 350px;
}

#cropimg26	{	
	position: absolute;
 	margin-left: 100px;
 	margin-top: 3380px;	
	height: 350px;
}

#cropimg27	{	
	position: absolute;
 	left: 13vw;
 	top: 450vh;	
	width: 20vw;
	height: auto;
}

#cropimg28	{	
	position: absolute;
 	left: 25vw;
 	top: 420vh;	
	width: 20vw;
	height: auto;
}

#cropimg288	{	
	position: absolute;
 	left: 35vw;
 	top: 410vh;	
	width: 20vw;
	height: auto;
}

#cropimg29	{	
	position: absolute;
 	margin-left: 765px;
 	margin-top: 3100px;	
	width: 20vw;
	height: auto;
}


#cropimg30	{
	position: absolute;
 	left: 28vw;
 	top: 460vh;	
	width: 20vw;
	height: auto;
}


#cropimg31	{	
	position: absolute;
 	left: 17vw;
 	top: 450vh;	
	width: 20vw;
	height: auto;
}

#cropimg32	{	
	position: absolute;
 	left: 5vw;
 	top: 440vh;	
	width: 20vw;
	height: auto;
}

#cropimg33	{	
	position: absolute;
 	left: 10vw;
 	top: 430vh;	
	width: 20vw;
	height: auto;
}

#cropimg34	{	
	position: absolute;
 	left: 67vw;
 	top: 400vh;	
	width: 22vw;
	height: auto;
}

#cropimg35	{	
	position: absolute;
 	left: 60vw;
 	top: 475vh;	
	width: 30vw;
	height: auto;
}

#cropimg36	{	
	position: absolute;
 	margin-left: 640px;
 	margin-top: 4200px;	
	height: 170px;
}

#cropimg37	{	
	position: absolute;
 	left: 60vw;
 	top: 590vh;	
	width: 25vw;
	height: auto;
}

#cropimg38	{	
	position: absolute;
 	left: 65vw;
 	top: 510vh;	
	width: 25vw;
	height: auto;
}

#cropimg39	{	
	position: absolute;
 	left: 5vw;
 	top: 305vh;	
	width: 30vw;
	height: auto;
}

#cropimg41	{	
	position: absolute;
 	left: 20vw;
 	top: 320vh;	
	width: 22vw;
	height: auto;
}

#cropimg43	{	
	position: absolute;
 	left: 18vw;
 	top: 340vh;	
	width: 22vw;
	height: auto;
}

#cropimg44	{	
	position: absolute;
 	left: 20vw;
 	top: 360vh;	
	width: 22vw;
	height: auto;
}

#cropimg46	{	
	position: absolute;
 	left: 7vw;
 	top: 585vh;	
	width: 32vw;
	height: auto;
}

#cropimg47	{	
	position: absolute;
 	left: 10vw;
 	top: 210vh;	
	width: 30vw;
	height: auto;

}

#cropimg48	{	
	position: absolute;
	margin-left: 565px;
 	margin-top: 4060px;	
	height: 290px;
}

#cropimg49	{	
	position: absolute;
 	left: 65vw;
 	top: 670vh;	
	width: 25vw;
	height: auto;
}

#cropimg50	{	
	position: absolute;
 	margin-left: 720px;
 	margin-top: 7100px;
	height: 400px;
}



/*
.close {
	width: 20px;
	height: 20px;
	background-color: #ff0000;
	position: absolute;
	top:0;
	right: 0;
	
}
*/

#close {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
}