§@font-face {
	font-family: 'theinhardt';
	src: url('../Theinhardt-Thin.otf') format('truetype');
}


/* Basic CSS Reset */
* { 	
	padding: 0; 
	margin: 0;
	border: 0;
	outline: 0; 
	font-family: 'theinhardt' !important;	
/* 	font-size: 10%; */
}



/* Basic height of both  HTML and Body tag */

html, body { 
	height: 270%;
	width: 100%;
}



body {	
	overflow-y: scroll;
	overflow-x: hidden;
	margin: 0;
	cursor: url('../images/fcursor4copyy2.png'), default;	
}


.iframe {
	pointer-events: none;
	
}


/* Start CSS here **/

/* Scrollbar */

::-webkit-scrollbar {
    width: 3px;
}


::-webkit-scrollbar:horizontal {
    width: 3px;
}


::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3); 
    border-radius: 3px;
}

 
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.5); 
    background-color: black;
}


::-webkit-scrollbar-track:horizontal {
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3); 
    border-radius: 3px;
}
 
 
::-webkit-scrollbar-thumb:horizontal {
	border-radius: 3px;
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.5); 
    background-color: black;
}


::selection {
	background: black;
}


::-moz-selection {
	background: black; 
}


/* Video */

/*
.video {
	position: absolute;
	z-index: 20;
	background-color: #e6e6e6;
	padding: 10px;
}

.video:hover	{
	z-index: 1000;
	mix-blending-mode: multiply !important;

}
*/ 

.video-isotoop {
	position: absolute;
 	left: 50vw;
 	top: 240vh;	
 	z-index: 10;			
	

}

.video-isotoop:hover	{
	z-index: 5000; 
	box-shadow: 0 0 40px black;
	
}

.video-isotoopjan {
	position: absolute;
 	left: 50vw;
 	top: 340vh;	
 	z-index: 10;

}

.video-isotoopjan:hover	{
	z-index: 5000; 
	box-shadow: 0 0 40px black;


	
}

.video-silentharbour {
	position: absolute;
 	left: 50vw;
 	top: 290vh;	
 	z-index: 10;	    
}

.video-silentharbour:hover	{
	z-index: 5000; 
	box-shadow: 0 0 40px black;	
}

.video-urban {
	position: absolute;
 	left: 48vw;
 	top: 610vh;	
	z-index: 10;
}

.video-urban:hover	{
	z-index: 5000; 
	box-shadow: 0 0 40px black;	
}

.video-secondskin {
	position: absolute;
 	margin-left: 75px;
 	margin-top: 2200px;	
 	z-index: 10;	
}

.video-secondskin:hover	{
	z-index: 5000; 
	box-shadow: 0 0 40px black; 	
}

.video-forest {
	position: absolute;
 	left: 10vw;
 	top: 525vh;	
 	z-index: 10;

}

.video-forest:hover	{
	z-index: 5000; 
	box-shadow: 0 0 40px black;		
}


.video-waveform {
	position: absolute;
 	margin-left: 550px;
 	margin-top: 6260px;	
	z-index: 10;
 	box-shadow: 0 0 40px black;

}

.video-lesfleurs {
	position: absolute;
 	left: 10vw;
 	top: 675vh;		
 	z-index: 10;	
 	box-shadow: 0 0 40px black;

    
}

.video-lesfleurs:hover	{
	z-index: 5000; 
	
 	box-shadow: 0 0 40px black;
	
}

a.video-link {
	position: absolute;
	font-size: 15px;
	color: #ff0000;
/* 	z-index: 120; */
}


/* Slideshow */

#slideshow {
	position: fixed;
	top: 10%;
	left: 4%;
	right: 4%;
	bottom: 10%;
	z-index: 10000;
	height: 80%;
	width: 92%;
	background-position: center center;
	background-size: contain;
/* 	mix-blend-mode: multiply !important; */
	display: none;
	background-repeat: no-repeat;
	background-color: rgba(0,    0,    0, 0.49);
	box-shadow: 0 0 50px #b09b9e;

}


#slideshow .caption {
	position: absolute;
	top: 10%;
	left: 4%;
	color: #ffffff;
	width: 20vw;
	text-align: left;	
	text-shadow: #d70000;
	font-size: 12	;
	
}


#slideshowtitle {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	z-index: 10000;
	background-position: center;
	background-size: contain;
	mix-blend-mode: multiply !important;
	display: none;
	background-repeat: no-repeat;
	background-color: rgba(0,    0,    0, 0.49);
}


#slideshowtitle .caption {	
	position: absolute;
	top: 1000px;
	left: 30px;
	color: #ffffff;
	right: 1000px;
	text-align: left;
}


/* Body */

body {	
	background: #c30000;
/* 	background: #baa6c2;	 */
	
}


.container {
	width: 100%;
	position: relative;
	margin: 0 auto;
	height: 100%;
}


img:hover {
	z-index: 1000 !important;
}


#bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 520%;
    z-index: 0;
    background: #c30000;

}



/* About and Contact */

.name {
	z-index: 6000 !important;
	height: 100%;
}

.me {
	height: 100%;
	z-index: 6000 !important;



}


#titlesophia   {
	position: fixed;
	z-index: 6000 !important;
	left: 1.5%;
    height: 15px;
    top: 1.5%;   
    padding: 20px;
}

.filter   {
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    z-index: 8000;
    
}

#filter {
	position: !important;
	position: fixed;
	width: 100%;
	height: 100%;
	mix-blending-mode: difference;
	opacity: 10;

	
	
}


#contact    {	
	position: fixed;
	z-index: 2;
	right:	 1.5%;
    height: 15px;
    top: 1.5%;    	 
	z-index: 6000 !important;
    padding: 20px;

}
	
	
#about    {	
	position: fixed;
	z-index: 6000 !important;
	left: 1.5%;
    height: 15px;
    bottom: 1.5%;   
    padding: 20px;
}


#logo	{
	position: fixed;
	z-index: 200;
	margin-left: 50%;
    height: 150px;
    bottom: 3%;  
}


.title    {	
	z-index: 6000 !important;
}


.title:hover	{
	mix-blend-mode: multiply !important; 
}



/* Images */

.crop-img:hover	{
	z-index: 5000; 
	mix-blend-mode: normal !important; 
	-webkit-filter:invert(0%);
    filter:progid:DXImageTransform.Microsoft.BasicImage(invert='1');
    box-shadow: 0 0 60px black;


}


.crop-img {
	z-index: 100!important;
	height: 100%;
	
	-webkit-filter:invert(100%);
    filter:progid:DXImageTransform.Microsoft.BasicImage(invert='1');
    mix-blend-mode: multiply; 	
/*     display: inline-block; */
}

.cropimg:hover ~ #bg	{
	background: #c30000;	

}

#cropimg	{	
	position: absolute;
/*
 	margin-left: 700px;
 	margin-top: 90px;	
	height: 550px;	
*/
/* 	mix-blend-mode: multiply;  */
	left: 60vw;
 	top: 15vh;	
 	height: 75vh;	
}

#cropimg:hover	{
	z-index: 5000; 
	mix-blend-mode: normal !important; 
	-webkit-filter:invert(0%);
    filter:progid:DXImageTransform.Microsoft.BasicImage(invert='1');	
}


#cropimg:hover ~ #bg	{
	background: #c30000;	
	
}


#cropimg2	{	
	position: absolute;
 	left: 260px;
 	top: 205px;	
	height: 350px;

}


#cropimg2:hover	{
	mix-blend-mode: multiply !important; 

}


#cropimg2:hover ~ #bg	{
	background: #c30000;	
}


/*
#cropimg3	{	
	position: absolute;
 	margin-left: 695px;
 	margin-top: 375px;	
	height: 350px;
}


#cropimg3:hover	{
	mix-blend-mode: multiply !important;
}
*/


#cropimg3:hover ~ #bg	{
	background: #c30000;
}


/*
#cropimg4	{	
	position: absolute;
 	margin-left: 850px;
 	margin-top: 110px;	
	height: 350px;
}


#cropimg4:hover	{
	mix-blend-mode: multiply !important;
}
*/


/*
#cropimg4:hover ~ #bg	{
	background: #c30000;
}
*/


#cropimg5	{	
	position: absolute;
 	left: 70vw;
 	top: 75vh;	
	height: 40vh;
}


/*
#cropimg5:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg5:hover ~ #bg	{
	background: #c30000;
}
*/


#cropimg6	{	
	position: absolute;
 	left: 10vw;
 	top: 15vh;	
	height: 70vh;

}


/*
#cropimg6:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg6:hover ~ #bg	{
	background: #c30000;
}
*/


#cropimg7	{	
	position: absolute;
 	left: 15vw;
 	top: 105vh;	
	height: 60vh;

}


/*
#cropimg7:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg7:hover ~ #bg	{
	background: #c30000;
}
*/


#cropimg8	{	
	position: absolute;
 	left: 30vw;
 	top: 100vh;	
	height: 60vh;
	}


/*
#cropimg8:hover {
	mix-blend-mode: multiply !important;
}


#cropimg8:hover ~ #bg	{
	background: #c30000;
}
*/
 	

#cropimg9	{	
	position: absolute;
 	left: 5vw;
 	top: 120vh;	
	height: 60vh;
}


/*
#cropimg9:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg9:hover ~ #bg	{
	background: #c30000;
}
*/


#cropimg99	{	
	position: absolute;
 	margin-left: 205px;
 	margin-top: 790px;	
	height: 400px;
}


/*
#cropimg99:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg99:hover ~ #bg	{
	background: #c30000;
}
*/


#cropimg10	{	
	position: absolute;
 	left: 60vw;
 	top: 110vh;	
	height: 80vh;
}


/*
#cropimg10:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg10:hover ~ #bg	{
	background: #c30000;
}
*/
 
 
#cropimg101	{	
	position: absolute;
 	left: 73vw;
 	top: 135vh;	
	height: 30vh;
}


/*
#cropimg101:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg101:hover ~ #bg	{
	background: #c30000;
}
*/


#cropimg102	{	
	position: absolute;
 	left: 76vw;
 	top: 155vh;	
	height: 30vh;
}


/*
#cropimg102:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg102:hover ~ #bg	{
	background: #c30000;
}
*/

#cropimg103	{	
	position: absolute;
 	left: 73vw;
 	top: 170vh;	
	height: 30vh;
}


/*
#cropimg103:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg103:hover ~ #bg	{
	background: #c30000;
}
*/



#cropimg11	{
	position: absolute;
 	left: 70vw;
 	top: 220vh;	
	height: 50vh;
}


/*
#cropimg11:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg11:hover ~ #bg	{
	background: #c30000;
}
*/


#cropimg12	{	
	position: absolute;
 	margin-left: 650px;
 	margin-top: 1610px;	
	height: 200px;
}


/*
#cropimg12:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg12:hover ~ #bg	{
	background: #c30000;
}
*/


#cropimg13	{	
	position: absolute;
 	margin-left: 116px;
 	margin-top: 1160px;	
	height: 350px;
}


/*
#cropimg13:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg13:hover ~ #bg	{
	background: #c30000;
}
 
*/

#cropimg14	{	
	position: absolute;
 	left: 15vw;
 	top: 30vh;	
	height: 80vh;
}


/*
#cropimg14:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg14:hover ~ #bg	{
	background: #c30000;
}
*/


#cropimg15	{	
	position: absolute;
 	margin-left: 75px;
 	margin-top: 1415px;	
	height: 275px;
}


/*
#cropimg15:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg15:hover ~ #bg	{
	background: #c30000;
}
*/


#cropimg16	{	
	position: absolute;
 	
 	margin-left: 105px;
 	margin-top: 1335px;	

	height: 400px;
}

/*

#cropimg16:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg16:hover ~ #bg	{
	background: #c30000;
}
*/


#cropimg17	{	
	position: absolute;
 	margin-left: 240px;
 	margin-top: 1400px;	
	height: 400px;
}


/*
#cropimg17:hover	{
	mix-blend-mode: multiply !important;
}

#cropimg17:hover ~ #bg	{
	background: #c30000;
}
*/


#cropimg18	{	
	position: absolute;
 	margin-left: 170px;
 	margin-top: 1550px;	
	height: 400px;
}


/*
#cropimg18:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg18:hover ~ #bg	{
	background: #c30000;
}
*/


#cropimg19	{	
	position: absolute;
 	margin-left: 730px;
 	margin-top: 2080px;	
	height: 430px;
}


/*
#cropimg19:hover	{
	mix-blend-mode: multiply !important;
}
	
	
#cropimg19:hover ~ #bg	{
	background: #c30000;
}
*/


#cropimg20	{	
	position: absolute;
 	margin-left: 940px;
 	margin-top: 2220px;	
	height: 350px;
}


/*
#cropimg20:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg20:hover ~ #bg	{
	background: #c30000;
}
*/


#cropimg21	{	
	position: absolute;
	margin-left: 80px;
 	margin-top: 2750px;
	height: 450px;
}


/*
#cropimg21:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg21:hover ~ #bg	{
	background: #c30000;
}
*/


#cropimg22	{	
	position: absolute;
 	margin-left: 80px;
 	margin-top: 2740px;	
	height: 350px;
}

/*

#cropimg22:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg22:hover ~ #bg	{
	background: #c30000;
}
*/



#cropimg23	{	
	position: absolute;
 	margin-left: 720px;
 	margin-top: 2730px;	
	height: 350px;
}

/*

#cropimg23:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg23:hover ~ #bg	{
	background: #c30000;
}
*/


#cropimg24	{	
	position: absolute;
 	margin-left: 890px;
 	margin-top: 2750px;	
	height: 400px;
}


/*
#cropimg24:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg24:hover ~ #bg	{
	background: #c30000;
}
*/


#cropimg25	{	
	position: absolute;
 	margin-left: 230px;
 	margin-top: 3300px;	
	height: 350px;
}


/*
#cropimg25:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg25:hover ~ #bg	{
	background: #c30000;
}
*/


#cropimg26	{	
	position: absolute;
 	margin-left: 100px;
 	margin-top: 3380px;	
	height: 350px;
}

/*

#cropimg26:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg26:hover ~ #bg	{
	background: #c30000;
}
*/


#cropimg27	{	
	position: absolute;
 	left: 10vw;
 	top: 450vh;	
	height: 50vh;
}


/*
#cropimg27:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg27:hover ~ #bg	{
	background: #c30000;
}
*/


#cropimg28	{	
	position: absolute;
 	left: 7vw;
 	top: 410vh;	
	height: 50vh;
}

/*

#cropimg28:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg28:hover ~ #bg	{
	background: #c30000;
}
*/


#cropimg29	{	
	position: absolute;
 	margin-left: 765px;
 	margin-top: 3100px;	
	height: 350px;
}

/*

#cropimg29:hover	{
	mix-blend-mode: multiply !important;
}



#cropimg29:hover ~ #bg	{
	background: #c30000;
}
*/


#cropimg30	{
	position: absolute;
 	left: 20vw;
 	top: 460vh;	
	height: 50vh;
}

/*
#cropimg30:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg30:hover ~ #bg	{
	background: #c30000;
}
*/


#cropimg31	{	
	position: absolute;
 	left: 17vw;
 	top: 440vh;	
	height: 50vh;
}


/*
#cropimg31:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg31:hover ~ #bg	{
	background: #c30000;
}
*/

#cropimg32	{	
	position: absolute;
 	left: 25vw;
 	top: 430vh;	
	height: 50vh;
}


/*
#cropimg32:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg32:hover ~ #bg	{
	background: #c30000;
}
*/

#cropimg33	{	
	position: absolute;
 	left: 15vw;
 	top: 420vh;	
	height: 50vh;
}


/*
#cropimg33:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg33:hover ~ #bg	{
	background: #c30000;
}
*/


#cropimg34	{	
	position: absolute;
 	left: 55vw;
 	top: 405vh;	
	height: 80vh;
}


/*
#cropimg34:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg34:hover ~ #bg	{
	background: #c30000;
}
*/


#cropimg35	{	
	position: absolute;
 	margin-left: 550px;
 	margin-top: 4070px;	
	height: 250px;
}


/*
#cropimg35:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg35:hover ~ #bg	{
	background: #c30000;
}
*/


#cropimg36	{	
	position: absolute;
 	margin-left: 640px;
 	margin-top: 4200px;	
	height: 170px;
}


/*
#cropimg36:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg36:hover ~ #bg	{
	background: #c30000;
}
*/


#cropimg37	{	
	position: absolute;
 	left: 60vw;
 	top: 590vh;	
 	height: 40vh;
}


/*
#cropimg37:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg37:hover ~ #bg	{
	background: #c30000;
}
*/

#cropimg38	{	
	position: absolute;
 	left: 65vw;
 	top: 500vh;	
	height: 70vh;
}


/*
#cropimg38:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg38:hover ~ #bg	{
	background: #c30000;
}
*/

#cropimg39	{	
	position: absolute;
 	left: 7vw;
 	top: 305vh;	
	height: 70vh;
}


/*
#cropimg39:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg39:hover ~ #bg	{
	background: #c30000;
}
*/

#cropimg41	{	
	position: absolute;
 	left: 20vw;
 	top: 320vh;	
	height: 30vh;
}


/*
#cropimg41:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg41:hover ~ #bg	{
	background: #c30000;
}
*/

#cropimg43	{	
	position: absolute;
 	left: 15vw;
 	top: 340vh;	
	height: 30vh;
}


/*
#cropimg43:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg43:hover ~ #bg	{
	background: #c30000;
}
*/

#cropimg44	{	
	position: absolute;
 	left: 20vw;
 	top: 360vh;	
	height: 30vh;
}


/*
#cropimg44:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg44:hover ~ #bg	{
	background: #c30000;
}
*/

#cropimg46	{	
	position: absolute;
 	left: 7vw;
 	top: 580vh;	
 	height: 80vh;
}


/*
#cropimg46:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg46:hover ~ #bg	{
	background: #c30000;
}
*/

#cropimg47	{	
	position: absolute;
 	left: 10vw;
 	top: 205vh;	
	height: 80vh;

}


/*
#cropimg47:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg47:hover ~ #bg	{
	background: #c30000;
}
*/

#cropimg48	{	
	position: absolute;
/*
 	margin-left: 200px;
 	margin-top: 6715px;
	height: 150px;
*/
	 	margin-left: 565px;
 	margin-top: 4060px;	
	height: 290px;

}


/*
#cropimg48:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg48:hover ~ #bg	{
	background: #c30000;
}
*/

#cropimg49	{	
	position: absolute;
/*
 	margin-left: 600px;
 	margin-top: 6700px;
	height: 400px;
*/
 	left: 63vw;
 	top: 670vh;	
 	height: 35vh;
}

/*

#cropimg49:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg49:hover ~ #bg	{
	background: #c30000;
}
*/

#cropimg50	{	
	position: absolute;
 	margin-left: 720px;
 	margin-top: 7100px;
	height: 400px;
}


/*
#cropimg50:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg50:hover ~ #bg	{
	background: #c30000;
}
*/

#cropimg51	{	
	position: absolute;
 	left: 20vw;
 	top: 130vh;	
	height: 60vh;
}


/*
#cropimg51:hover	{
	mix-blend-mode: multiply !important;
}


#cropimg51:hover ~ #bg	{
	background: #c30000;
}
*/


.close {
	width: 20px;
	height: 20px;
	background-color: #ff0000;
	position: absolute;
	top:0;
	right: 0;
}